.nav{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    height: 80px;
    background:#8BC43F;
    padding-bottom: 20px;

}
.backToPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav img
{
    width: 24px;
    height: 24px;
}
.smallNav{
 height: 24px;
}
.icon{
    position: relative;
    left:30px;
    z-index: 1;
    margin-right: 28px;
}
.search{
    background: none;
    border: none;
    width: 100%;
    height: 20px;
    z-index: 2;
  
}
::-webkit-search-cancel-button {}
